.main-content {
  padding-top: 64px;
  min-height: calc(100vh - 64px);
  background: var(--mat-sys-background);
  
  @media (max-width: 768px) {
    padding-top: 56px;
    min-height: calc(100vh - 56px);
  }
}