// Import knižničných štýlov s témami (nahradí default Angular Material tému)
@use "../../ngx-mat-grayscale-theme/src/lib/ui-theme.scss";

// Základné globálne štýly (zachované z originálu)
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

